/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Note: Try to remove the following lines to see the effect of CSS positioning */

#no-background{
  background: transparent;
}

#ahorroBoton{
  margin-top: -13px;
}

.c-layout-header.c-layout-header-4{
  border-top: 3px solid;
  border-top-color: #0065BD;
  border-top-width: 3px;
  border-top-style: solid;
}

.c-page-on-scroll.c-layout-header.c-layout-header-4{
  border-top: 3px solid;
  border-top-color: #0065BD;
  border-top-width: 3px;
  border-top-style: solid;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.preguntas{
    left: 0;
    position:absolute;
    text-align:center;
    bottom: 1em;
    width: 100%;
    font-size: 1.5em;
    color:white;
    font-family:'Source Sans Pro', sans-serif;
}

.c-mobile-logo{
margin-top:-15px;
  margin-left:-10px;
}

.c-desktop-logo{
  margin-top:-65px;
  margin-left:12px;
}
.c-desktop-logo-inverse{
  margin-top:-55px;
  margin-left:12px;
}

.container-fluid{
  padding-right: 10px !important;
  padding-left: 10px !important;
}

@media (min-width: 415px) {

  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-18px;
  }

  .container {
    width: 95%;
    padding: 0; 
  }

  .container-fluid{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {

  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-18px;
  }

  .container-fluid{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }


}


html {
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
 }

/* Larger than mobile */
@media (min-width: 415px) {

  .c-action-btn.btn.btn-lg.c-btn-square.c-theme-btn.c-btn-bold.c-btn-uppercase{
    margin-top: 50px;
  }
  


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
  margin-top:-13px;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  
  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-13px;
  }

}

@media (min-width: 991px) {

  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-13px;
  }

  .container-fluid{
  padding-right: 10px !important;
  padding-left: 10px !important;
}


}



/* Larger than desktop */
@media (min-width: 1000px) {

  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-18px;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .c-desktop-logo,.c-desktop-logo-inverse,.c-mobile-logo{
    margin-top:-18px;
  }

  .container-fluid{
  padding-right: 10px !important;
  padding-left: 10px !important;
}


}
