/* COLORES */
.titulo-ventajas
{
	margin-bottom: 0px;
}

/* ############## PRIMARY COLOR  ############## */
.primary-color,
.pasos-setup,
.empezar-content
{
	background-color: #F7F7F7;
	color: #686B6E
}

.navegacion
{
	background-color: #ffffff;
}

.pattern-background
{
	padding-bottom:100px;
	padding-top:80px;
	background-image: url(./base/img/pattern-green.svg);
	background-size: 120px 120px;
  	background-repeat: repeat;
}
.post-footer,
.c-inteligente,
.fourth-color
{
	background-color: #0065BD;
}

.c-contenido-inteligente{
	color:white;
	font-size: 1.2em;
}



.c-layout-header.c-layout-header-4,
.c-page-on-scroll.c-layout-header.c-layout-header-4,
.navbar-default
{
  border-color: #0065BD;
}
a {
	color: #0065BD;
}

/* ############## SECONDARY COLOR  ############## */

.secondary-color
{
	background: #0065BD;
}

.lock-color
{
	background: #ffffff;
	color: #222;
	font-size: 1.3em;
}

.btn,
.c-theme-btn.btn,
.slider-selection
{
    background: #69BE28;
}


.btn,
.c-theme-btn.btn:hover,
.slider-handle
{
    background: #3B8205;
}

.container-emilio
{
	color: black;
	background-color: #f7f7f7;
}

/* ############## THIRD COLOR  ############## */ 
.third-color,
.container-chart 
{
	background-color: #02AE4E;
}

.pasos-setup,
.post-footer,
.empezar-content
{
	border-color: #02AE4E;
	/*border-color: #69BE28;*/ /* old border color */
}

/* ############## FORTH COLOR  ############## */ 


/* ############## LIGHTER COLORS  ############## */

.ayudado-a-ahorro
{
	color: #6b6b6b;
	font-size: 3em;
	font-weight: 500;
	line-height: 130%;
}

.title,
.preguntas,
.links,
.porque-vinik-title,
.empezar,
.c-theme-btn.btn,
.container-ahorro,
.container-chart 
.container-pension h3,
.container-pension h2,
.container-pension small {
	color: #FFF;
}
.pre-footer,
.inside-footer,
#fondoDeAhorro {
	background-color: rgb(247,247,247);
}


/* ############## OTHER COLORS  ############## */
.container-default,
.container-ahorro {
	color: #333;
	background-color: #f6f4f4;
}
.input-alt {
	color: #444;
	background-color: #BBB;
}

.container-pension
{
	color: #FFF;
}

.btn.btn-cancel {
	background-color: #4C4C4C;
}

.btn.btn-cancel:hover {
	background-color: #2D2D2D;
}

.card-3 {
  
}
.hide-container-pension{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	background-color: #444;
	//background-image: url(./base/img/dark-triangles.png);
  	//background-repeat: repeat;
}
.container-chart em {
	color: #0f3a7f;
}
.btn-pension {
	background-color: #69bd28;
}

.container-pension-adjust {
	/*padding: 30px 5px 0;*/
	text-align: center;
}

.navbar-default
{
	border-bottom-color: #CCC;
}

/* ------------------------------------------- */