.pasos-setup{
	background-color: #0065BD;
	padding-top: 0px;
	padding-bottom: 30px;
	border-bottom: 2px solid;
	border-bottom-color: #69BE28;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	display: inline-block;
}

.animacion{
	order:1;
}


.pasos{
	order:2;
}

.contactanos{
	margin-right: 5px; 
	margin-left: 5px;
}

.icons{
	margin-bottom: 15px;
	margin-right: 5px;
	margin-left: 5px;
}

.line-break{
	border-bottom: 2px solid;
	border-bottom-color: gray;
	border-bottom-width: 2px;
	border-bottom-style: solid;

	margin: auto;
}

.left-footer{
	margin-top:15px;
}

.socios{
	padding-top:30px;
	padding-bottom:30px;
}

.links{
	color: white;
	text-decoration: underline;
}

.container--padding {
	background-clip: padding-box;
    border: 10px solid transparent;
}



.ahorro-inteligente{
	background-color: gray;
}

/* NEW STYLES */

/* Se restan 40px para los margin
 * de en medio. Y otros 40px para
 * los de los lados de afuera.
 */

.post-footer{
	padding-top: 10px;
	background-color: #0065BD;
	border-bottom: 3px solid;
	border-bottom-color: #69BE28;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.pre-footer{
	padding-top: 20px;
	background-color: rgb(247,247,247);
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.inside-footer{
	background-color: white;
}

.porque-vinik-title{
	color:white;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 2em;
	margin-top: 30px;
}

.empezar-title{
	color:inherit;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 2em;
	margin-top: 30px;
}

#empezar-button{
	margin-top: 0px;	
}

#herramienta.c-content-box.c-size-md {
	padding-top: 30px;
	padding-bottom: 0px;
}
.porque-vinik{
	background: #000000 no-repeat fixed center;
	padding-bottom: 30px;
}

.empezar{
	color: white;
	padding-bottom: 30px;
}

.empezar-content{
	background-color: #0065BD;
	padding-top: 0px;
	padding-bottom: 30px;
	border-bottom: 2px solid;
	border-bottom-color: #69BE28;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.container-base {
	padding: 5px;
	/*width: calc((100% - (40px + 40px)) / 3);*/
	height: 620px;
}

.container-base:first-child,
.container-base:nth-child(2) {
	/*margin-right: 20px;*/
}

.container-base:first-child {
	/*margin-left: 20px;*/
}

.my-container-base {
	padding: 5px;
	/*width: calc((100% - (40px + 40px)) / 3);*/
	height: 200px;
}

.my-container-base:first-child,
.my-container-base:nth-child(2) {
	/*margin-right: 20px;*/
}

.my-container-base:first-child {
	/*margin-left: 20px;*/
}

.container-customize {
	padding: 5px 10px 0 10px;
}

.container-default {
	color: #333;
	background-color: #DDD;
}

.container-ahorro {
	color: #F0F0F0;
	background-color: #02AE4E;
}

.container-emilio {
	padding: 30px;
	margin-top: 30px;
	color: #333;
	background-color: red;
}

.container-pension {
	padding: 30px 5px 0;
	color: #FFF;
	background-color: #0E7970;
	text-align: center;
}

.container-pension h3,
.container-pension h2,
.container-pension small {
	color: #FFF;
}

.hide-container-pension {
	display: none;
	background-color: #0E7970;
}

.container-chart {
	padding: 10px;
	color: #FFF;
	background-color: #02AE4E;
}

.container-chart em {
	color: #0f3a7f;
}

.btn-pension {
	padding: 0px 30px;
	height: 50px;
	background-color: #F49F0A;
}

.c-line-left {
	margin: 0px 0 0px;
	height: 3px;
	background-color: #aaa;
}

.font-title {
	font-size: 24px;
}

.input-fit {
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.input-alt {
	background-color: #BBB;
	color: #444;
}

.no-margins {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.pad-bttm-0 {
	padding-bottom: 0;
}

/* Bootstrap overrides */
#fondoDeAhorro [class*="col-"] {
	padding: 10px;
}

.btn {
	border: none;
	border-radius: 0;
	text-transform: none;
}

.row-restore {
	margin: 0;
}

.saving-param {
	margin-bottom: 0px;
}

.saving-param p {
	font-size: 14px;
}

.saving-param .btn {
	height: 22px;
	padding: 2px 0;
}

.saving-param .slider {
	padding: 0 10px !important;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -2px;
	left: 3px;
	color: ##545454;
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}



/* VALIDATIONS */

input.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid:focus,
form.ng-submitted input.ng-invalid,
select.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid:focus,
form.ng-submitted select.ng-invalid,
form.ng-submitted .regular-checkbox.ng-invalid + label {
  border: 1px solid red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


/* Bootstrap overrides */


@media (max-width: 415px) {
	.no-ver-padd {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.btn-pension {
		padding: 6px 20px;
		height: 50px;
		background-color: #F49F0A;
	}
}

@media screen and (max-width: 531px) {
    .pasos-setup { display: flex; flex-flow: column; }
    .animacion { order: 2; }
    .pasos { order: 1;  }
}

@media screen and (max-width: 767px) {
	.container-base {
		padding: 5px;
		/*width: calc((100% - (40px + 40px)) / 3);*/
		height: initial;
	}
	.my-container-base {
		padding: 5px;
		/*width: calc((100% - (40px + 40px)) / 3);*/
		height: initial;
	}


}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.container-chart {
		/*height: initial;*/
	}

	.container-customize {
		padding: 5px 10px 0 10px;
	}

	.saving-param {
		margin-bottom: 15px;
	}

	.saving-param p {
		font-size: 14px;
	}

	.saving-param .btn, .saving-param select {
		height: 35px;
		padding: 5px !important;
	}

	.saving-param .slider {
		padding: 10px 10px !important;
	}

}


@media screen (min-width: 991px) {
	
	.saving-param {
		margin-bottom: 30px;
	}

	.saving-param p {
		font-size: 15px;
	}

	.c-line-left {
	    margin: 0px 0 20px;
	    height: 3px;
	    background-color: #aaa;
	}

	.hide-container-pension {
		display: block;
	}
}

/* ---------- */
