<div id="footer">
    <footer class="c-layout-footer c-layout-footer-3 c-bg-dark">
          <div class="c-postfooter">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-6 col-sm-12 c-col">
                          <p class="c-copyright c-font-grey">2015 &copy; VINIK
                              <span class="c-font-grey-3">Todos los derechos reservados.</span>
                              <a class="c-font-blue" href="../aviso-de-privacidad.html" target="_blank">Aviso de privacidad |</a>
                          <a class="c-font-blue" href="../aviso-legal.html" target="_blank">| Aviso legal</a>
                          </p>
                          
                      </div>

                  </div>
              </div>
          </div>
      </footer>
</div>
 
